In [1]:
import pandas as pd

In [2]:
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'

In [4]:
df = pd.read_csv(url, '\t')
chipo = df

/Users/babilibabyli/opt/anaconda3/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3444: FutureWarning: In a future version of pandas all arguments of read_csv except for the argument 'filepath_or_buffer' will be keyword-only
  exec(code_obj, self.user_global_ns, self.user_ns)

In [5]:
chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

In [6]:
chipo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB

In [7]:
chipo.shape

(4622, 5)

In [8]:
# what is the number of columns in the datasets
chipo.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

In [9]:
# Which was the most-ordered items
# find the order quantity for each item
item_quants = chipo.groupby(['item_name']).agg({'quantity': 'sum'})

# sort order quantity in decending, only shows Top 5 items and quantity
sorted_quants = item_quants.sort_values(by = 'quantity', ascending = False)[:5]
sorted_quants

                     quantity
item_name
Chicken Bowl              761
Chicken Burrito           591
Chips and Guacamole       506
Steak Burrito             386
Canned Soft Drink         351

In [10]:
# get the row with the biggest value in quantity column
most_ordered_item = sorted_quants.iloc[0]
print(most_ordered_item)

quantity    761
Name: Chicken Bowl, dtype: int64

In [11]:
# What was the most ordered item in the choice_description column
# find the order quantity by choice_description
des_quants = chipo.groupby(['choice_description']).agg({'quantity': 'sum'})

# sort order quantity in decending, and only shows top 5 items and quantity
des_quants_sorted = des_quants.sort_values(by = 'quantity', ascending = False)[:5]
des_quants_sorted

                                                    quantity
choice_description
[Diet Coke]                                              159
[Coke]                                                   143
[Sprite]                                                  89
[Fresh Tomato Salsa, [Rice, Black Beans, Cheese...        49
[Fresh Tomato Salsa, [Rice, Black Beans, Cheese...        42

In [12]:
# How many items were ordered in total
chipo.quantity.sum()

4972

In [13]:
# Turn the item price into a float
chipo['item_price'] = chipo['item_price'].str.replace('$', '').astype(float)

/var/folders/wc/tf294n1d6vndl_c54nh4p1t80000gr/T/ipykernel_35998/2494979884.py:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  chipo['item_price'] = chipo['item_price'].str.replace('$', '').astype(float)

In [14]:
chipo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   float64
dtypes: float64(1), int64(2), object(2)
memory usage: 180.7+ KB

In [15]:
# Create a lambda function and change the type of item price
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'
df = pd.read_csv(url, '\t')

/Users/babilibabyli/opt/anaconda3/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3444: FutureWarning: In a future version of pandas all arguments of read_csv except for the argument 'filepath_or_buffer' will be keyword-only
  exec(code_obj, self.user_global_ns, self.user_ns)

In [16]:
# lambda: apply(), apply to each element in the column to remove the dollar sign
df['item_price'] = df['item_price'].apply(lambda x: float(x.replace('$', '')))

In [17]:
# How much was the revenue for the period in the dataset?
df['item_price'].sum()

34500.16

In [18]:
# How many orders were made in the period
df['order_id'].count()

4622

In [20]:
# What is the average revenue amount per order
df['item_price'].sum()/df['order_id'].count()

7.464335785374297

In [21]:
df['item_price'].mean()

7.464335785374397

In [22]:
# How many different items are sold?
df.item_name.nunique()

50